POSTGRES_DB=opennosh
POSTGRES_USER=opennosh
POSTGRES_PASSWORD=opennosh
APP_ENVIRONMENT=development
# Generate and set a unique 32+ character value before a production Compose deployment.
WEB_PROXY_TOKEN=
TARGET_KCAL_FLOOR=1200
OPEN_FOOD_FACTS_ENABLED=false
OPEN_FOOD_FACTS_BASE_URL=https://world.openfoodfacts.org
OPEN_FOOD_FACTS_TIMEOUT_SECONDS=3
OPEN_FOOD_FACTS_USER_AGENT_CONTACT=https://github.com/RujitRaval/opennosh
OPEN_FOOD_FACTS_LOOKUP_RATE_LIMIT_ATTEMPTS=10
OPEN_FOOD_FACTS_LOOKUP_RATE_LIMIT_WINDOW_SECONDS=60
OPEN_FOOD_FACTS_UPSTREAM_RATE_LIMIT_ATTEMPTS=10
OPEN_FOOD_FACTS_UPSTREAM_RATE_LIMIT_WINDOW_SECONDS=60
OPEN_FOOD_FACTS_EXPORT_RATE_LIMIT_ATTEMPTS=10
OPEN_FOOD_FACTS_EXPORT_RATE_LIMIT_WINDOW_SECONDS=60
OPEN_FOOD_FACTS_EXPORT_STATEMENT_TIMEOUT_MS=2000
COMMUNITY_EXPORT_RATE_LIMIT_ATTEMPTS=10
COMMUNITY_EXPORT_RATE_LIMIT_WINDOW_SECONDS=60
COMMUNITY_EXPORT_STATEMENT_TIMEOUT_MS=2000
PRIVATE_EXPORT_RATE_LIMIT_ATTEMPTS=10
PRIVATE_EXPORT_RATE_LIMIT_WINDOW_SECONDS=60
PRIVATE_EXPORT_STATEMENT_TIMEOUT_MS=5000
PUBLIC_EXPORT_CONCURRENCY_LIMIT=2
PRIVATE_EXPORT_CONCURRENCY_LIMIT=1
EXPORT_CAPACITY_WAIT_SECONDS=1
PUBLIC_EXPORT_RESPONSE_TIMEOUT_SECONDS=300
PRIVATE_EXPORT_RESPONSE_TIMEOUT_SECONDS=1800
